In [ ]:
## Assignment 16 
## Finding the Standard Deviation

In [ ]:
import pandas as pd
import math as math
import numpy as np

In [ ]:
# Creating a Method for calculating Mean
def mean(values):
    return sum(values)*1.0/len(values)

In [ ]:
# Creating method for calculating the standard Deviation
def standDev(values):
    length=len(values)
    m=mean(values)
    total_sum=0
    for i in range (length):
        total_sum=total_sum+((values[i]-m)**2)
    Under_root=total_sum*1.0/length
    return math.sqrt(Under_root)

In [ ]:
# inserting the Values in form of List
x=[1550,1700,900,850,1000,950]
stand_dev=standDev(x)

In [25]:
#printing the Standard Deviation
print(stand_dev)

335.92740617910624

In [24]:
## By using the predefined Funtion
df=pd.DataFrame(x)
print(df.std())

0    367.990036
dtype: float64

In [23]:
## By using the Describe Funtion
df.describe()

                 0
count     6.000000
mean   1158.333333
std     367.990036
min     850.000000
25%     912.500000
50%     975.000000
75%    1412.500000
max    1700.000000